@*@using net6_note_system.ViewModels
@model IEnumerable<NoteViewModel>
*@
@{
    ViewData["Title"] = "Note";
}

<h1>Note</h1>

<div class="container pb-3">
    <div class="row d-flex flex-row-reverse">
        <div class="col-auto">
            <a asp-action="Add" class="btn btn-warning">Create New</a>
        </div>
    </div>
</div>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseID" class="btn btn-outline-primary btn-sm">Edit</a>
                <a asp-action="Details" asp-route-id="@item.CourseID" class="btn btn-outline-secondary btn-sm">Details</a>
                <a asp-action="Delete" asp-route-id="@item.CourseID" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

*@